annotated-types
anyio
certifi
click
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
psycopg
psycopg-binary
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
shellingham
sniffio
starlette
typer
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
geojson
